//---------------------------------------- BASIC STYLES -----------------------------------------------

//*****************************************************************************************************
//                                            ROOT STYLES
//*****************************************************************************************************
body
  font-family 'Lato', Arial
  margin 0
  padding 0
  color white
  font-size 16px

a:link
  text-decoration none

.iconPdf
  height 64px
//*****************************************************************************************************
//                                            NAVBAR
//*****************************************************************************************************

.navbar .navbar-nav
  display inline-block
  float none
  vertical-align top

.navbar .navbar-collapse
  text-align: center

.navbar-custom
    background-color rgba(0,0,255,0.5)
    color #ffffff
    border-radius 0

.navbar-custom .navbar-nav > li > a
    color #fff

.navbar-custom .navbar-nav > .active > a, .navbar-nav > .active > a:hover, .navbar-nav > .active > a:focus
    color rgba(255,255,255,0.3)
    background-color transparent

.navbar-custom .navbar-brand
    color #eeeeee

.navbar-custom .navbar-nav > li > a:hover, .navbar-custom .navbar-nav > li > a:focus
    background-color rgba(255,255,255,0.3)

.bread
  padding-top 10px

.breadcrumb
  background-color transparent
  padding-bottom 0
  margin-bottom 0
  color white

.breadcrumb li a
  color white




//*****************************************************************************************************
//                                        HELPERS
//*****************************************************************************************************
.capitalize
  text-transform capitalize

.capitalize::before
  content " "

.instruction
  margin-top 3rem
  font-size 1.2rem

.instruction button
  margin-top 2rem


.paddingLat
  padding 0 15px

.actividad
  width 100%
  height 50px
  background-color red
  text-align center
  padding 13px

.fc-unthemed .fc-today
  background #0092B2 !important


//*****************************************************************************************************
//                                        LOGIN STYLES
//*****************************************************************************************************
.nameStartup h1
  font-size 10rem
  margin-bottom 10px
  margin-top 8rem

.nameStartup span
  font-size 1.3em

.loginForm
  margin-top 50px

.loginForm input[type = text], input[type = password]
  margin 25px 0

.cont h3, .cont a
  display inline

.cont a
  font-size 20px
//*****************************************************************************************************
//                                        MAP
//*****************************************************************************************************

#map-canvas
  width 100%
  height 550px

//*****************************************************************************************************
//                                        NEW BLOCK FORM
//*****************************************************************************************************
.newCategoryForm
  margin-top 1rem

.newCategoryForm label
  margin-bottom 10px

.newCategoryForm input, .newCategoryForm textarea
  display block
  margin-bottom  20px
  width 100%
  color black
  padding 0.4em
  border-radius 3px

#id_imagen,#id_pdf
  color white

.newCategoryForm label
  font-weight normal

.newCategoryForm input[type="color"]
  height 5em

.newCategoryForm ul
  margin-top -15px
  background-color peru

.newCategoryForm li
  padding 5px


.categoryPreview
  background-color red
  border-radius 10px
  height 300px
  margin-top 4rem
  width  100%

.iconPreview
  text-align center
  padding 60px 50px

.nameCategoryPreview
  font-size 2rem
  text-align center


//*****************************************************************************************************
//                                        BLOCK
//*****************************************************************************************************
.foto
  height 90%
  width 100%
  border-radius 15px

.resetCol
  padding 15px

.resetCol a
  color rgba(255,255,255,1)

.resetCol a:hover
  color rgba(255,255,255,0.8)

.block
    height 270px
    border-radius 10px

@media all and (min-width: 768px)
  .blockgrupo
    height 400px
    border-radius 10px


@media all and (min-width: 992px)
  .blockgrupo
    height 300px
    border-radius 10px


@media all and (min-width: 1200px)
  .blockgrupo
    height 200px
    border-radius 10px

.block i
  padding 50px 20px
  text-align center
  width 100%

.block p
  font-size 20px
  text-align center
  padding 0 20px

.blockgrupo p
  text-align center
  padding 0 20px

.block img
  border-radius 10%
  display block
  margin-left auto
  margin-right auto
  height 100%


//*****************************************************************************************************
//                                        PAGINE
//*****************************************************************************************************

.pagine
  margin 1em

.pagine div,.pagine p
  display inline

//*****************************************************************************************************
//                                            DELETE
//*****************************************************************************************************



body
	background-image -moz-linear-gradient(top, rgba(0,0,0,0.8), rgba(0,0,0,0.8)), url("../imagenes/fondo.jpg")
	background-image -webkit-linear-gradient(top, rgba(0,0,0,0.8), rgba(0,0,0,0.8)), url("../imagenes/fondo.jpg")
	background-image -ms-linear-gradient(top, rgba(0,0,0,0.8), rgba(0,0,0,0.8)), url("../imagenes/fondo.jpg")
	background-image linear-gradient(top, rgba(0,0,0,0.8), rgba(0,0,0,0.8)), url("../imagenes/fondo.jpg")
	background-attachment fixed
	background-position center center
	background-repeat no-repeat
	background-size cover