extends base
block titulo
    |Calendario maquina
block extra_style
    link(rel="stylesheet",href="{% static 'css/fullcalendar.min.css' %}")
    link(href="{% static 'css/fullcalendar.print.css' %}")
    script(src="{% static 'js/moment.min.js' %}")
    script(src="{% static 'js/fullcalendar.min.js' %}")
    script(src="{% static 'js/lang-all.js' %}")
    script(src="{% static 'js/jquery-ui.custom.min.js' %}")

block itemsNavbarBreadcrumb
    li
        a(href="/inicio/") Inicio
    li
        a(href="/inventario/") Inventario
    li(class="active") {{nombre}}
block body_content
    div(class="container-fluid")
        div(class="col-xs-12 col-sm-12 col-md-12 col-lg-9 resetCol")
            div(id='calendar')
        div(class="col-xs-12 col-sm-12 col-md-12 col-lg-3 resetCol")
            h3(id="titulo") Actividad
            p(id="descripcion") Haga click en una actividad para mostrar la descripcion
            img(id="imagen",style="width:100%;",src="")

    input(type="hidden",id="maquina",name="maquina",value="{{ maquina }}")
    script(src="{% static 'js/calendario_maquina.js' %}")