extends base
block titulo
    |Grupo Mantenimiento

block itemsNavbarBreadcrumb
    li
        a(href="/inicio/") Inicio

    li(class="active") Grupo

block body_content
    div(class="container-fluid")
            div(class="col-xs-12 col-sm-6 col-md-4 col-lg-2 resetCol")
               div(class="blockgrupo")
                  a(href="https://www.facebook.com/ibeth.carrenoavella")
                     img(class="foto",src="{% static 'imagenes/estudiante1.jpg' %}")
                  p Ibeth Carreño Avella

            div(class="col-xs-12 col-sm-6 col-md-4 col-lg-2 resetCol")
               div(class="blockgrupo")
                  a(href="https://www.facebook.com/monik.gutierrezpena")
                     img(class="foto",src="{% static 'imagenes/estudiante2.jpg' %}")
                  p Monica Gutierrez Peña

            div(class="col-xs-12 col-sm-6 col-md-4 col-lg-2 resetCol")
               div(class="blockgrupo")
                  a(href="https://www.facebook.com/paula.quintana.93")
                     img(class="foto",src="{% static 'imagenes/estudiante3.jpg' %}")
                  p Paula Quintana

            div(class="col-xs-12 col-sm-6 col-md-4 col-lg-2 resetCol")
               div(class="blockgrupo")
                  a(href="https://www.facebook.com/rikrdopards")
                     img(class="foto",src="{% static 'imagenes/estudiante4.jpg' %}")
                  p Ricardo Paredes

            div(class="col-xs-12 col-sm-6 col-md-4 col-lg-2 resetCol")
               div(class="blockgrupo")
                  a(href="https://www.facebook.com/karen.j.perez.5")
                     img(class="foto",src="{% static 'imagenes/estudiante5.jpg' %}")
                  p Karen Juliet Perez


            div(class="col-xs-12 col-sm-6 col-md-4 col-lg-2 resetCol")
               div(class="blockgrupo")
                  a(href="https://www.facebook.com/diego.cely.102")
                     img(class="foto",src="{% static 'imagenes/estudiante6.jpg' %}")
                  p Diego Cely

            div(class="col-xs-12 col-sm-6 col-md-4 col-lg-2 resetCol")
               div(class="blockgrupo")
                  a(href="https://www.facebook.com/nilson.patino")
                     img(class="foto",src="{% static 'imagenes/estudiante7.jpg' %}")
                  p Nilson Andrey Nova

            div(class="col-xs-12 col-sm-6 col-md-4 col-lg-2 resetCol")
               div(class="blockgrupo")
                  a(href="https://www.facebook.com/michael.osoriopena")
                     img(class="foto",src="{% static 'imagenes/estudiante8.jpg' %}")
                  p Michael Osorio Peña

            div(class="col-xs-12 col-sm-6 col-md-4 col-lg-2 resetCol")
               div(class="blockgrupo")
                  a(href="https://www.facebook.com/carlos.riveranumpaque")
                     img(class="foto",src="{% static 'imagenes/estudiante9.jpg' %}")
                  p Carlos Rivera

            div(class="col-xs-12 col-sm-6 col-md-4 col-lg-2 resetCol")
               div(class="blockgrupo")
                  a(href="https://www.facebook.com/yully.vargas.5")
                     img(class="foto",src="{% static 'imagenes/estudiante10.jpg' %}")
                  p Yully Vargas


            div(class="col-xs-12 col-sm-6 col-md-4 col-lg-2 resetCol")
               div(class="blockgrupo")
                  a(href="https://www.facebook.com/yeseniaastrid")
                     img(class="foto",src="{% static 'imagenes/estudiante11.jpg' %}")
                  p Yess Vega

            div(class="col-xs-12 col-sm-6 col-md-4 col-lg-2 resetCol")
               div(class="blockgrupo")
                  a(href="https://www.facebook.com/gilma.solano.1")
                     img(class="foto",src="{% static 'imagenes/estudiante12.jpg' %}")
                  p Gilma Solano

            div(class="col-xs-12 col-sm-6 col-md-4 col-lg-2 resetCol")
               div(class="blockgrupo")
                  a(href="https://www.facebook.com/wilmar.espinosa")
                     img(class="foto",src="{% static 'imagenes/estudiante13.jpg' %}")
                  p Wilmar Espinosa

            div(class="col-xs-12 col-sm-6 col-md-4 col-lg-2 resetCol")
               div(class="blockgrupo")
                  a(href="https://www.facebook.com/profile.php?id=1280710668")
                     img(class="foto",src="{% static 'imagenes/estudiante14.jpg' %}")
                  p Diego Andres

            div(class="col-xs-12 col-sm-6 col-md-4 col-lg-2 resetCol")
               div(class="blockgrupo")
                  a(href="https://www.facebook.com/jesusarmando.bellovega")
                     img(class="foto",src="{% static 'imagenes/estudiante15.jpg' %}")
                  p Jesus Armando Bello Vega

            div(class="col-xs-12 col-sm-6 col-md-4 col-lg-2 resetCol")
               div(class="blockgrupo")
                  a(href="https://www.facebook.com/sebastian.rojasespinel")
                     img(class="foto",src="{% static 'imagenes/estudiante16.jpg' %}")
                  p Sebastian Rojas Espinel