extends base
block titulo
    | Lista Actividades
block itemsNavbarBreadcrumb
    li
        a(href="/inicio/") Inicio
    li
        a(href="/mantenimiento/") Mantenimiento
    li
        a(href="../../") {{tipomantenimiento}}

    li(class="active") Actividades {{nombremaquina}}
block body_content
    div(class="container-fluid")
        div(class="text-center")
            h3 Seleccione la actividad que quiere editar
            | {% for object in object_list %}
            div(class="col-xs-12 col-sm-12 col-md-6 col-md-offset-3 col-lg-6 col-lg-offset-3 resetCol")
                a(href="../editar/{{object.id}}")
                    div(class="actividad",style="background-color:{{colormaquina}};") {{object.nombre}}
            | {% endfor %}