extends base
block titulo
    | Plan {{tipomantenimiento}}
block itemsNavbarBreadcrumb
    li
        a(href="/") Inicio
    li
        a(href="/mantenimiento/") Mantenimiento
    li
        a(href="../") {{tipomantenimiento}}
    li(class="active") Plan

block itemsNavbarRight
    li
        a(href="actualizar/") Actualizar el plan de Mantenimiento

block body_content
    div(class="col-xs-10 col-xs-offset-1 col-sm-8 col-sm-offset-2 col-md-8 col-sm-offset-2 col-lg-10 col-lg-offset-1")
        object(type="application/pdf",data="/media/{{pdf}}",style="width: 100%; height: 550px;")