extends base
block titulo
    | Plan de Mantenimiento
block itemsNavbarBreadcrumb
    li
        a(href="/") Inicio
    li
        a(href="/mantenimiento/") Mantenimiento
    li
        a(href="../../") {{tipomantenimiento}}
    li(class="active") Plan {{maquina}}
block body_content
   div(class="col-xs-12 col-sm-6 col-sm-offset-3 col-md-4 col-md-offset-4 col-lg-4 col-lg-offset-4")
      form(action="",method="POST",enctype="multipart/form-data")|{% csrf_token %}
         p Plan de mantenimiento {{tipomantenimiento}} de la maquina: {{maquina}}
         input(id="id_{{tipomantenimiento}}",name="{{tipomantenimiento}}",type="file")
         button(type="submit",class="btn btn-success btn-block",style="margin-top:15px;") Aceptar